#AP.active {
    animation-name: BLINK_AP;
    animation-duration: 7s;
    opacity: 0;
}

@keyframes BLINK_AP {
    0% {
        background-color: yellow;
        color: black;
    }
    24% {
        background-color: yellow;
        color: black;
    }
    25% {
        background-color: black;
        color: yellow;
    }
    49% {
        background-color: black;
        color: yellow;
    }
    50% {
        background-color: yellow;
        color: black;
    }
    99% {
        background-color: yellow;
        color: black;
    }
    100% {
        background-color: black;
        color: yellow;
    }
}


/* #left-panel #RPM
{
  position: absolute;
  top: 13px;
  left: 9.6px;
  width: 184px;
  height: 184px;
  border-radius: 50%;
  transform: rotate(-121deg);
  transition: transform .1s ease ;
  background-image: url("../img/rpmarrow.png");
} */

#RPM.active {
    transform: rotate(0deg);
    animation-name: RPM_IDLE;
    animation-duration: 5s;
}

@keyframes RPM_IDLE {
    0% {
        transform: rotate(-121deg);
    }
    25% {
        transform: rotate(-100);
    }
    50% {
        transform: rotate(-80);
    }
    100% {
        transform: rotate(0deg);
    }
}