  * {
      box-sizing: border-box;
  }
  
  @font-face {
      font-family: MilSpec;
      src: url(../data/MilSpec33558.ttf) format("truetype");
  }

body {
 cursor: none;
}
  
  #ENG {
      width: 117px;
      position: absolute;
      top: 1051px;
      left: 243px;
      height: 28px;
      opacity: 0;
      background-color: rgba(0, 0, 0, 0.5);
  }
  
  #NRST {
      width: 117px;
      position: absolute;
      top: 1051px;
      left: 1443px;
      height: 28px;
      opacity: 0;
  }
  
  #NRST-MAP-CONTAINER {
      /* background-image: url("../img/MAP.png"); */
      border: 2px solid white;
      width: 436px;
      height: 316px;
      background-color: black;
      position: absolute;
      top: 688px;
      left: 990px;
      visibility: hidden;
  }
  
  #NRST-MAP {
      position: relative;
      height: 100%;
      visibility: hidden;
  }
  
  #mapDialog {
      position: absolute;
      height: 100%;
      width: 100%;
      font-family: MilSpec;
      font-size: 20px;
      /* box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2), 0 4px 20px 0 rgba(0, 0, 0, 0.19); */
      /* text-align: center!important; */
      list-style-type: none;
      padding: 0;
      margin: 0;
      background-color: black;
      color: #01D7CF;
      z-index: 2;
  }
  
  #mapDialog li {
      padding: 8px 16px;
      /* border-bottom: 1px solid #ddd; */
      /* border: none; */
  }
  
  #mapImg {
      position: absolute;
      z-index: 1;
      height: 100%;
  }
  
  #planeSvg {
      position: relative;
      z-index: 2;
      height: 100%;
  }
  
  body {
      margin: 0px;
      font-family: Arial;
      background-color: #ffffff;
      overflow: hidden;
      background: black;
      font-family: 'Muli', sans-serif;
  }
  
  #container {
      margin: 0px;
      position: absolute;
      height: 100%;
      width: 1440px;
      left: 240px;
      top: 0px;
  }
  
  #component {
      text-align: center;
  }
  
  #left-panel {
      border: 2px solid white;
      background-image: url(../img/leftpanel.png);
      background-position-x: -6px;
      background-repeat: no-repeat;
      position: absolute;
      top: 0;
      left: 0;
      width: 243px;
      height: 100%;
      background-color: rgba(0, 0, 0, 1);
      background-position: 10px 50px;
      z-index: 1;
  }
  
  #left-panel h3 {
      font-family: MilSpec;
      color: rgba(255, 255, 255, 1);
      font-size: initial;
      /* text-align: center; */
      /* position: absolute; */
      /* top: 93px; */
      /* left: 85px; */
      transform: translateY(104px);
  }
  
  #left-panel h2 {
      font-family: MilSpec;
      color: rgba(255, 255, 255, 1);
      text-align: center;
      /* position: absolute; */
      /* top: 115px; */
      /* right: 80px; */
      transform: translateY(178px);
  }
  
  #left-panel p {
      font-family: MilSpec;
      font-size: 15px;
      margin: -25px;
      color: rgba(255, 255, 255, 1);
      text-align: center;
  }
  
  #left-panel #RPM {
      position: absolute;
      top: 63px;
      left: 25px;
      width: 184px;
      height: 184px;
      border-radius: 50%;
      transform: rotate(-121deg);
      transition: transform .1s ease;
      background-image: url(../img/rpmarrow.png);
  }
  
  #left-panel #FFLOW {
      position: absolute;
      top: 260px;
      left: 29px;
      width: 167px;
      height: 17px;
      background-image: url("../img/unic-leftpanel-idle.png");
      background-repeat: no-repeat;
      /* background-position-x: 50%; */
      transition: all 1.5s ease-out;
  }
  
  #left-panel #OIL-PRESS {
      position: absolute;
      top: 330px;
      left: 29px;
      width: 167px;
      height: 17px;
      background-image: url("../img/unic-leftpanel-idle.png");
      background-repeat: no-repeat;
      /* background-position-x: 50%; */
      transition: all 1.5s ease-out;
  }
  
  #left-panel #OIL-TEMP {
      position: absolute;
      top: 398px;
      left: 29px;
      width: 167px;
      height: 17px;
      background-image: url("../img/unic-leftpanel-idle.png");
      background-repeat: no-repeat;
      /* background-position-x: 50%; */
      transition: all 1.5s ease-out;
  }
  
  #left-panel #EGT {
      position: absolute;
      top: 467px;
      left: 29px;
      width: 167px;
      height: 17px;
      background-image: url("../img/unic-leftpanel-idle.png");
      background-repeat: no-repeat;
      /* background-position-x: 50%; */
      transition: all 1.5s ease-out;
  }
  
  #left-panel #VAC {
      position: absolute;
      top: 536px;
      left: 29px;
      width: 167px;
      height: 17px;
      background-image: url("../img/unic-leftpanel-idle.png");
      background-repeat: no-repeat;
      /* background-position-x: 50%; */
      transition: all 1.5s ease-out;
  }
  
  #left-panel #FUEL-QTY {
      position: absolute;
      top: 604px;
      left: 29px;
      width: 167px;
      height: 17px;
      background-image: url("../img/unic-leftpanel-idle.png");
      background-repeat: no-repeat;
      /* background-position-x: 50%; */
      transition: all 1.5s ease-out;
  }
  
  canvas {
      margin: 0px;
      position: absolute;
      left: 0px;
      top: 0px;
  }
  
  #airspeed {
      border: 2px solid white;
      margin: 0px;
      padding: 0px;
      position: absolute;
      background-color: rgba(0, 0, 0, 0.2);
      background-image: url("../img/airspeed.png");
      background-repeat: no-repeat;
      background-position: 10px -2301px;
      top: 162px;
      left: 217px;
      width: 121px;
      height: 524px;
  }
  
  #airspeed #airspeedCounter {
      position: absolute;
      width: 121px;
      height: 56px;
      top: 216px;
      left: 0px;
  }
  
  #altimetre #altitudeCounter {
      position: absolute;
      width: 121px;
      height: 56px;
      top: 216px;
      left: 0px;
  }
  
  #airspeed .a1 {
      position: absolute;
      background-color: black;
      top: 486px;
      left: -2px;
      width: 121px;
      height: 36px;
      border: 2px solid white;
  }
  
  #airspeed #airspeedCounter #a2 {
      position: absolute;
      background-color: black;
      background-image: url("../img/onlar.png");
      background-repeat: repeat-y;
      background-position: 29px -1589px;
      top: 9px;
      left: 0px;
      width: 62px;
      height: 37px;
  }
  
  #altimetre #altitudeCounter #ac2 {
      position: absolute;
      background-color: black;
      background-image: url("../img/aton.png");
      background-repeat: no-repeat;
      background-position: 26px -4783px;
      top: -6px;
      left: 21px;
      width: 77px;
      height: 60px;
  }
  
  #airspeed #airspeedCounter #a3 {
      position: absolute;
      background-color: black;
      background-image: url("../img/birler.png");
      background-repeat: repeat-y;
      background-position: 5px -196px;
      top: 0px;
      left: 61px;
      width: 25px;
      height: 55px;
  }
  
  #altimetre #altitudeCounter #ac3 {
      position: absolute;
      background-color: black;
      background-image: url("../img/altitudebirler.png");
      background-repeat: repeat-y;
      background-position: 5px 75px;
      top: -20px;
      left: 98px;
      width: 45px;
      height: 88px;
  }
  
  #airspeed #airspeedCounter #a4 {
      position: absolute;
      background-image: url("../img/ok.png");
      background-repeat: no-repeat;
      background-position: 0px 14px;
      top: 0px;
      left: 86px;
      width: 21px;
      height: 55px;
  }
  
  #altimetre #altitudeCounter #ac4 {
      position: absolute;
      background-image: url("../img/ok.png");
      background-repeat: no-repeat;
      background-position: 0px 14px;
      top: 0px;
      left: 0px;
      width: 21px;
      height: 55px;
      transform: rotate(180deg);
  }
  
  #airspeed #airspeed-ul {
      display: block;
      list-style-type: none;
      margin-top: -20px;
      margin-bottom: 1 em;
      margin-left: 0;
      margin-right: 30px;
      padding-left: 0px;
      text-align: right;
      font-size: 25px;
      color: rgba(255, 255, 255, 1);
      line-height: 65px;
  }
  
  #airspeed #airspeedAP {
      margin: 0px;
      padding: 0px;
      position: absolute;
      top: 0;
      background-image: url("../img/airspeedAP.png");
      background-repeat: no-repeat;
      background-position: 99px -16px;
      width: 121px;
      height: 524px;
  }
  
  #ROLL_PANEL {
      margin: 0px;
      padding: 0px;
      position: absolute;
      background-image: url("../img/arrow.png");
      background-repeat: no-repeat;
      top: 111px;
      left: 359px;
      width: 577px;
      height: 577px;
  }
  
  #attitudeFail {
      margin: 0px;
      padding: 0px;
      position: absolute;
      top: 111px;
      left: 359px;
  }
  
  #ROLL_PANEL #degree {
      margin: 0px;
      padding: 0px;
      background-image: url("../img/pitch.png");
      background-repeat: no-repeat;
      background-position-y: -483px;
      width: 220px;
      height: 380px;
      left: 177px;
      top: 75px;
      position: absolute;
  }
  
  #ROLL_PANEL .empty {
      margin: 0px;
      padding: 0px;
      background-repeat: no-repeat;
      width: 160px;
      height: 160px;
  }
  
  #pitch {
      margin: 0px;
      padding: 0px;
      position: absolute;
      top: 147px;
      left: 566px;
      width: 160px;
      height: 500px;
  }
  
  #pitch .arrow {
      margin: auto;
      padding: 0px;
      background-image: url("../img/arrowpitch.png");
      background-repeat: no-repeat;
      width: 24px;
      height: 30px;
  }
  
  #backGround {
      margin: 0px;
      background: rgb(0, 130, 255);
      background: linear-gradient(180deg, rgba(5,69,254,1) 49%, rgba(255, 255, 255, 1) 50%, rgb(81, 48, 7) 50%, rgb(81, 48, 7) 100%);
      width: 1586px;
      height: 1320px;
      text-align: center;
      padding: 10px;
      position: absolute;
      transition: all .5s ease;
      left: -146px;
      top: -240px;
  }
  
  #backGround-static {
      position: absolute;
      top: 0px;
      left: 0px;
      margin: 0px;
      background-image: url("../img/autopilot.png");
      width: 1440px;
      height: 1080px;
      text-align: center;
      padding: 10px;
  }
  
  #compass {
      margin: 0px;
      position: absolute;
      background-color: rgba(0, 0, 0, 0.2);
      background-image: url("../img/compass.png");
      top: 625px;
      left: 440px;
      width: 408px;
      height: 408px;
      border-radius: 50%;
      transform-origin: center;
  }
  
  #compass #compassAP {
      margin: 0px;
      position: absolute;
      background-image: url("../img/compassAP.png");
      width: 408px;
      height: 408px;
      border-radius: 50%;
      transform-origin: center;
  }
  
  #compass #compass-arrow {
      margin: 0px;
      position: absolute;
      background-image: url("../img/compass-arrow.png");
      width: 408px;
      height: 408px;
      border-radius: 50%;
      transform-origin: center;
  }
  
  #compassDegContainer {
      margin: 0px;
      position: absolute;
      text-align: center;
      font-size: 25px;
      color: white;
      padding: 7px;
      background-image: url("../img/compassdegg.png");
      top: 564px;
      left: 593px;
      width: 102px;
      height: 68px;
  }
  
  #counter {
      margin: 0px;
      position: absolute;
      display: inline-grid;
      grid-template-columns: auto auto auto;
      text-align: center;
      font-size: 25px;
      background-color: seashell;
      color: white;
      top: 100px;
      left: 100px;
      width: 100px;
      height: 50px;
  }
  
  #onlar {
      padding: 8px;
      background-color: sienna;
      text-align: center;
      font-size: 45px;
      border: 1px solid rgba(0, 0, 0, 0.8);
  }
  
  canvas {
      position: absolute;
      height: 20%;
      width: 20%;
      left: 100px;
      top: 100px;
  }
  
  #yuzler {
      padding: 8px;
      border: 1px solid rgba(0, 0, 0, 0.8);
      text-align: center;
      font-size: 45px;
      background-color: sienna;
  }
  
  #binler {
      padding: 8px;
      font-size: 45px;
      border: 1px solid rgba(0, 0, 0, 0.8);
      text-align: center;
      background-color: sienna;
  }
  
  #altimetre {
      border: 2px solid white;
      margin: 0px;
      position: absolute;
      background-image: url("../img/altitude2.png");
      background-position: 0px -10850px;
      background-repeat: no-repeat;
      background-color: rgba(0, 0, 0, 0.2);
      top: 162px;
      left: 990px;
      width: 148px;
      height: 483px;
  }
  
  #altimetre #altimetreTop {
      text-align: right;
      padding-right: 40px;
      font-family: MilSpec;
      font-size: 20px;
      color: #01D7CF;
      padding-top: 9px;
      border: 2px solid white;
      background-color: black;
      position: absolute;
      background-repeat: no-repeat;
      left: -2px;
      top: -41px;
      width: 148px;
      height: 43px;
      background-image: url("../img/altitudeAP.png");
      background-position: 5px 2px;
  }
  
  #altimetre #altimetreTop img {
      position: absolute;
      left: 2px;
      top: 3px;
  }
  
  #altimetre #altimetreBottom {
      border: 2px solid white;
      background-color: black;
      position: absolute;
      background-repeat: no-repeat;
      left: -2px;
      top: 478px;
      width: 148px;
      height: 43px;
      padding-top: 8px;
      padding-left: 15px;
      font-family: MilSpec;
      font-size: 20px;
      color: #01D7CF;
  }
  
  #altimetre #altimetreAP {
      margin: 0px;
      position: absolute;
      top: -15px;
      background-image: url("../img/altitudeAP.png");
      background-repeat: no-repeat;
      width: 18px;
      height: 34px;
  }
  
  #altIdle {
      font-family: MilSpec;
      color: white;
      text-align: right;
      padding-right: 15px;
      padding-top: 7px;
      background-image: url("../img/altidle.png");
      background-repeat: no-repeat;
      position: absolute;
      top: 387.8px;
      left: 1138px;
      width: 100px;
      height: 32px;
  }
  
  #ConnectionState {
      margin: 0px;
      position: absolute;
      top: 10px;
      left: 42px;
  }
  
  #buttonTCP {
      display: none;
  }
  
  #topPanel {
      font-family: MilSpec;
      color: rgba(255, 255, 255, 1);
      background-image: url("../img/topPanel.png");
      background-position: -2px -2px;
      display: grid;
      grid-template-areas: 'right right center center center left left';
      border: 2px solid white;
      position: absolute;
      top: 0px;
      left: 0px;
      width: 100%;
      height: 85px;
      background-color: rgba(0, 0, 0, 1);
  }
  
  #topPanel #col1 {
      grid-area: right;
      border: 2px solid white;
  }
  
  #topPanel #col3 {
      grid-area: left;
      border: 2px solid white;
  }
  
  #topPanel #col2 {
      display: grid;
      grid-template-areas: 'l l r r' 'r1 r2 l1 l1';
      grid-area: center;
      color: white;
      border: 2px solid white;
  }
  
  #topPanel #col2 #r {
      padding-top: 10px;
      padding-left: 5px;
      grid-area: r;
      border: 2px solid white;
  }
  
  #topPanel #col2 #l {
      color: #D417D5;
      padding-top: 10px;
      padding-left: 5px;
      grid-area: l;
      border: 2px solid white;
  }
  
  #topPanel #col2 #r1 {
      text-align: center;
      color: #24DA25;
      padding-top: 10px;
      padding-left: 5px;
      grid-area: r1;
      border: 2px solid white;
  }
  
  #topPanel #col2 #r2 {
      padding-top: 10px;
      color: #24DA25;
      padding-left: 5px;
      grid-area: r2;
      border: 2px solid white;
  }
  
  #topPanel #col2 #l1 {
      padding-top: 10px;
      color: #24DA25;
      padding-left: 5px;
      grid-area: l1;
      border: 2px solid white;
  }
  
  #bottomPanel {
      border: 2px solid white;
      position: absolute;
      top: 1045px;
      left: 0px;
      width: 100%;
      height: 35px;
      background-color: rgba(0, 0, 0, 1);
  }
  
  #col1 h4 {
      font-family: MilSpec;
      color: rgba(255, 255, 255, 1);
      position: absolute;
      top: -16.5px;
      left: 5px;
  }
  
  #col1 h6::after {
      content: "NAV2";
      display: inline-block;
      font-family: MilSpec;
      color: rgba(255, 255, 255, 1);
      position: absolute;
      top: 20px;
      left: 0px;
  }
  
  #HDG {
      width: 120px;
      height: 35px;
      background-color: black;
      position: absolute;
      top: 605px;
      left: 390px;
      color: white;
      font-family: MilSpec;
      text-align: left;
      font-size: 15px;
      padding-left: 5px;
      padding-top: 9px;
  }
  
  #CRS {
      width: 120px;
      height: 35px;
      background-color: black;
      position: absolute;
      top: 605px;
      left: 790px;
      color: white;
      font-family: MilSpec;
      text-align: left;
      font-size: 15px;
      padding-left: 5px;
      padding-top: 9px;
  }
  
  #APARROW {
      position: absolute;
      top: 417px;
      left: 467px;
      width: 350px;
      height: 39px;
      background-repeat: no-repeat;
      background-image: url("../img/autopilotIdle.png");
  }
  
  .failBox {
      visibility: hidden;
      z-index: 3;
  }
  
  #vartspeedFail {
      position: absolute;
      top: 14px;
      left: 147px;
  }
  
  #hdgFail {
      position: absolute;
      top: 2px;
      left: 1px;
  }
  
  .fail-warning {
      opacity: 0.3;
  }
  #time {
    padding-top: 3px;
    padding-left: 30px;
    color: white;
    font-family: MilSpec;
    position: absolute;
    background-color: black;
    right: 241px;
    bottom: 32px;
    width: 195px;
    height: 25px;
}